*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


body{
    background-color: #e4e4e4;
}
.big{
    display: flex;
    justify-content: space-around;
    color: rgb(119, 119, 119);

}

.form{
    background-color: #ffffff;
    padding: 20px 40px;
    height: 100%;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 10%);
   
    
}
.but{
    border-radius: 30px;
    border :none;
    background-color:  rgb(191 39 45);
    color: white;
    height: 33px;
    width: 100%;
    margin-top: 20px;
    
}
img{
    width: 300px;
    height: 130px;
    

}
.ima{
    display: flex;
    justify-content: space-around;


}

.emp{
    border-color: rgb(204, 204, 204);
    border-style: solid;
    outline: none;
    width: 100%;
    
    
}

footer{
    display: flex;
    justify-content: space-around;
    color: black;
    
}

.list{
    list-style: none;
    display: inline;
    padding: 6px;
   
}
.list a{
    color: black;  
    
}
a{
   
    text-decoration: none;
}

.bi2{
    display: flex;
    justify-content: space-between
}

.last{
    display: flex;
    justify-content: center;
}

.jo{
    transition: ease-in-out .5s;
}

.jo:hover{
    transform: scale(1.07);
    
}
.last a{
    font-weight:normal;
    transition: ease-in-out .5s;
}
.list a:hover{
    font-weight: bold;
    
}